.container{
    display:flex;
    flex-direction: column;
}


.topbox{
    margin-top: 0px;
    padding-top: 30px;
    border-radius: 0 0 25px 25px;
    background-image: linear-gradient(#721bfe, darkblue);
    text-align: center;
    padding-bottom: 20px;
    width:100%;
}
.topbox h1{
    color: white;
}

.topbox h3{
    color:white;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.circle{
    align-content:center ;
    height:115px;
    width: 115px;
    border-radius: 50%;
    background-image: linear-gradient(#721bfe, darkblue);
    border-color:  black;
    border-width: thin;
    display:inline-block;
    border-style: groove;
    margin-bottom: 30px;
}

.container p{
    color: rgb(153, 151, 151);
    
}
.bottombox{
    margin-left: 50px;
    margin-right: 50px;    
}
.bottombox h4{
    color: darkblue;
}

.roundedbox{
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.red{
    background-color: rgba(240, 128, 128, 0.781);
    color: lightcoral;
}
.yellow{
    background-color: rgba(251, 251, 0, 0.588) ;
    color: yellowgreen;
}
.green{
    background-color: rgba(144, 238, 144, 0.743);
    color: lightseagreen;
}
.blue{
    background-color: rgba(135, 206, 250, 0.83);
    color: blue;
}

.score{
    float:right;
    color: darkblue;
}
.hundred{
    color:rgba(143, 134, 134, 0.984);
}
.continue{
    width:100%;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border-color: black;
}
@media screen and (min-width:600px){
    .container{
        flex-direction: row;
    }
    .topbox{
        width:300px;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        margin-right: 0px;
    }
    .bottombox{
        width:300px;
        margin-left: 0px;
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }
    }